/* color variables */
$main-color: black;
$orange-accent: #d78f00;
$orange-accent-light:#ffbd3a;
$outline-color: whitesmoke;
$keyboard-badge-color:rgb(0, 255, 149);
$keycaps-badge-color: #FF6701;
$module-badge-color: #444444;
$collabo-badge-color: #5451FF;
$merch-badge-color:#E77FFF;
$deskmat-badge-color:#ECFE00;



/* structure variable */
$outline-width: 1px;
