/* about us styles start */

.about-us-title-container{
    color: var(--outline-color);
    text-align: center;
    font-size: 4rem;
    padding: 30px 0px;
    /* outline: solid whitesmoke 1px; */
    border-bottom: solid var(--outline-color) 1px;
}

.orange-accent-1st-letter::first-letter{
    color: var(--orange-accent);

}


.founders-container{
    height: 400px;
    display: flex;
    justify-content: center;
    margin-bottom: 60px;
    margin-top: 30px;
    position: relative;
}

.founder-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-80%, -40%);
}

.founder-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: whitesmoke;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-10%, -60%);
}

.founder-1,.founder-2{
    p{
        text-align: center;

    }
}

.founder-name{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: bold;
}

.firm-description{
    color: whitesmoke;
    width: 70%;
    text-align: justify;
    font-size: 2rem;
    margin: auto;
    margin-bottom: 40px;
    font-weight: bold;

}

.highlight-accent{
    color: var(--main-color);
    background-color: var(--orange-accent);
}

.more-about-us{
    color: whitesmoke;
    /* outline: solid salmon; */
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 100px;
    margin-bottom:40px;
}

.read-about-us{

    flex-wrap: wrap;
    width: 50%;
    font-size: 1.5rem;
}

.find-us{

    flex-wrap: wrap;
    width: 50%;
    font-size: 1.5rem;
}


.discord-btn2{
    color: whitesmoke;
    font-size: 1rem;
    background-color: black;
    outline: solid var(--outline-color) 1px;
    padding: 7px 20px;
    border-radius: 15px;
    border: 0;
    font-weight: bold;
    margin: 10px 0px;
}

@media (max-width:430px) {

    .founder-1{
     transform: translate(-80%, -40%);

    }

    .founder-2{
    transform: translate(-29%, -60%);
        }

    .firm-description{
        width: 82%;
        font-size: 1.3rem;
    }

    .more-about-us{
        width: 78%;
        margin-top: 48px;
    }

    .title-container{
        font-size: 2.5rem;
    }
}

/* about us styles end */