/* accesories styles start */

.accesories-title-container{
    color: var(--outline-color);
    text-align: center;
    font-size: 4rem;
    padding: 30px 0px;
    /* outline: solid whitesmoke 1px; */
}

.accesories-container-outter{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.accesories-container-outter{
    img{
        height: 182px;
        width: auto;
    }
}

.accesories-container-inner{
    outline: solid whitesmoke 1px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

}

.accesories-container-card-type1{
    outline: solid whitesmoke 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    /* cambiar width a cerca de 100% para mobile */
    margin: 20px;
}

.accesory-img-type1{
    text-align: center;
}

.accesory-name{
    /* outline: solid peru; */
    color: whitesmoke;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.shop-btn1{
    color: whitesmoke;
    background-color: black;
    outline: solid whitesmoke 1px;
    padding: 8px 17px;
    border-radius: 10px;
}

.shop-btn2{
    color: rgb(0, 0, 0);
    background-color: #d78f00;
    padding: 8px 17px;
    border-radius: 10px;
}

.accesories-container-card-type2{
    outline: solid whitesmoke 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 26%;
    margin: 20px;
}

.accesories-container-card-type3{
    outline: solid whitesmoke 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 19%;
    margin: 20px;
}

.accesories-container-card-type4{
    outline: solid whitesmoke 2px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    width: 82%;
    margin: 20px;
}



.keyboard-badge{
    color: rgb(0, 0, 0);
    background-color: var(--keyboard-badge-color);
    padding: 7px 20px;
    border-radius: 15px;
    border: 0;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px;
}

.keycaps-badge{
    color: black;
    background-color: var(--keycaps-badge-color);
    padding: 7px 20px;
    border-radius: 15px;
    border: 0;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px;
}

.module-badge{
    color: whitesmoke;
    background-color: var(--module-badge-color);
    padding: 7px 20px;
    border-radius: 15px;
    border: 0;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px;
}

.collabo-badge{
    color: whitesmoke;
    background-color: var(--collabo-badge-color);
    padding: 7px 20px;
    border-radius: 15px;
    border: 0;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px;
}

.merch-badge{
    color: black;
    background-color: var(--merch-badge-color);
    padding: 7px 20px;
    border-radius: 15px;
    border: 0;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px;
}

.deskmat-badge{
    color: black;
    background-color: var(--deskmat-badge-color);
    padding: 7px 20px;
    border-radius: 15px;
    border: 0;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px;
}

.accesory-name{
    p{
    font-weight: bold;
    font-size: 1.2rem;
    }
}

.fade-up-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width:430px) {
    .accesories-container-card-type1, .accesories-container-card-type2, .accesories-container-card-type3, .accesories-container-card-type4{
        width: 100%;
    }

}

/* accesories styles end */